	<% provide(:title, "About") %>
	<div id="wrapper" style="margin-top:100px;">

			<section id="content">
				<div class="container">
			<div class="row">

				<div class="col-md-8 col-sm-8 col-xs-12 thumb">
					<img src="/assets/gic.jpg" class="img-responsive">
				</div>

				<div class="col-md-4 col-sm-4 col-xs-12 thumb">
					<div class="col-md-6 col-sm-12 col-xs-12 thumb">
						<div class="cscfForm">LOCATION</div>
						<img src="/assets/map.png" class="img-responsive">
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 thumb">
						<br>
						<p>Concordia has the right location, the right people, the right resources...</p>
						<div style="padding:10px;">
						<a href="#" class="my-btn-cate">More</a>
					</div>
					</div>

					<div class="col-md-6 col-sm-16 col-xs-12 thumb">
						<div class="cscfForm">TOURISM</div>

						<img src="/assets/tour.jpg" class="img-responsive">
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12 thumb">
						<br>
						<p>Access the nearest places, Enjoy the accepatble price! Get coupon back for exchanging the gift@ .</p>
						<div style="padding:10px;">
						<a href="#" class="my-btn-cate">More</a>
						</div>
					</div>
					
				</div>
			</section>
	</div>

			<div class="container" style="margin-top:30px;">
				<div class="col-sm-8 col-xs-12" style="margin-bottom:20px;">
					<div class="col-sm-12 col-xs-12 cate-block">
						<div class="title-cate">About Us</div>
						<div class="content-cate">Tourest is an application that provides user to find place for preparing their trip such as hotels, restaurants and other entertainment place in Phnom Penh.That’s the reason that we create Tourest with three platform such as Android, IOS and Web application. </div>
						<div style="padding:10px;">
							<a href="#" class="my-btn-cate">More</a>
						</div>
					</div>
				</div>
			
				<div class="col-sm-4 col-xs-12" style="margin-bottom:20px;">
					<div class="col-sm-12 col-xs-12 cate-block">
						<div class="title-cate">RECENT NEWS</div>
						<div class="content-cate">News and events new destination popular tour.News and events new destination popular tour.News and events new destination popular tour.</div>
						<div style="padding:10px;">
							<a href="#" class="my-btn-cate">More</a>
						</div>
					</div>
				</div>
			</div>

