<!-- ============================ start footer ========================================= -->
<div class="footer">
	<div class="container">
		<div class="col-sm-4 col-xs-12">
			<div class="title-list-foot">Information</div>
				<ul class="content-list-foot">
					<li>
						<a href="#">Gallery</a>
					</li>
					<li>
						<a href="#">Site Map</a>
					</li>
			
				</ul>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="title-list-foot">Information</div>
			<ul class="content-list-foot">
				<li>
					<%= link_to "About Us",   about_path %>
				</li>
				<li>
		          	<%= link_to "Contact", new_contact_path %>
		        </li>
			</ul>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="title-list-foot">Information</div>	
			<ul class="content-list-foot">
				<li>
					<a href="www.facebook.com/" target="new"><img src="/assets/fb.png" width="20px">&nbsp;: Facebook</a>
					
				</li>
				<li>
					<a href="www.linkedin.com" target="new"><img src="/assets/linkedin.png" width="20px"/>&nbsp;: Linkedin</a>
				</li>
				<li>
					 <a href="www.twitter.com" target="new"><img src="/assets/twitter.png" width="20px" />&nbsp;: Twitter</a>
				</li>

			</ul>	
		</div>
	</div>
</div>
<div class="cp-right">
		<div class="container">Copyright © Tourest.com . All Rights Reserved.</div>
</div>